<!-- <form class="signup-form" role="form">
    <div class="page-card-body">
        <div class="form-group">
            <label class="form-label sr-only" for="signup_fullname"> {{ _("Full Name") }} </label>
            <input type="text" id="signup_fullname" class="form-control" placeholder="{{ _('Jane Doe') }}"
            required autofocus>
        </div>
        <div class="form-group">
            <label class="form-label sr-only" for="signup_email"> {{ _("Email") }} </label>
            <input type="email" id="signup_email" class="form-control"
            placeholder="{{ _('jane@example.com') }}" required>
        </div>

      
        <div class="form-group">
            <label class="form-label sr-only" for="signup_mobile_number"> {{ _("Mobile Number") }} </label>
            <input type="text" id="signup_mobile_number" class="form-control"
            placeholder="{{ _('1234567890') }}" required>
        </div>

        <div class="form-group">
            <div class="checkbox">
                <label>
                    <span class="input-area">
                    <input type="checkbox" autocomplete="off" class="input-with-feedback"
                        data-fieldtype="Check" data-fieldname="terms" id="signup-terms" required>
                    </span>
                    <span class="label-area">
                    I have read and agree to your Terms & Conditions
                    </span>
                </label>
            </div>
        </div>
    </div>
    <div class="page-card-actions">
        <button class="btn btn-sm btn-primary btn-block btn-signup"
            type="submit">{{ _("Sign up") }}</button>

        <p class="text-center sign-up-message">
            <a href="#login" class="blue">{{ _("Have an account? Login") }}</a>
        </p>
    </div>
</form>

<script>
    frappe.ready(function () {
        $(".signup-form").on("submit", (e) => {
            signup(e);
        });
    });

    const signup = (e) => {
        e.preventDefault();
        const email = ($("#signup_email").val() || "").trim();
        const full_name = frappe.utils.xss_sanitise(($("#signup_fullname").val() || "").trim());
        const mobile_number = ($("#signup_mobile_number").val() || "").trim();

        if (!email || !validate_email(email) || !full_name || !mobile_number) {
            frappe.msgprint({
                title: __('Signup failed'),
                indicator: 'red',
                message: __('Valid email, name, and mobile number required.')
            });
            return false;
        }

        frappe.call({
            method: "advika_enterprises.overrides.user.sign_up",
            args: {
                "email": email,
                "full_name": full_name,
                "verify_terms": $("#signup-terms").prop("checked") ? 1 : 0,
                "mobile_number": mobile_number
            },
            callback: function(response) {
                if (response.exc) {
                    frappe.msgprint({
                        title: __('Signup failed'),
                        indicator: 'red',
                        message: __('An error occurred during signup. Please try again.')
                    });
                } else {
                    frappe.msgprint({
                        title: __('Success'),
                        indicator: 'green',
                        message: __('Your account has been successfully created. Please check your email for the verification link.')
                    });
                    $('#signup_fullname').val('');
                    $('#signup_email').val('');
                    $('#signup_mobile_number').val('');
                    $('#signup-terms').prop('checked', false);
                }
            },
            error: function() {
                frappe.msgprint({
                    title: __('Signup failed'),
                    indicator: 'red',
                    message: __('An error occurred during signup. Please try again.')
                });
            }
        })
        return false;
    }
</script> -->
<form class="signup-form" role="form">
    <div class="page-card-body">
        <div class="form-group">
            <label class="form-label sr-only" for="signup_fullname">{{ _("Full Name") }} </label>
            <input type="text" id="signup_fullname" class="form-control" placeholder="{{ _('Jane Doe') }}" required autofocus>
        </div>
        <div class="form-group">
            <label class="form-label sr-only" for="signup_email">{{ _("Email") }} </label>
            <input type="email" id="signup_email" class="form-control" placeholder="{{ _('jane@example.com') }}" required>
        </div>

        <!-- Mobile Number field -->
        <div class="form-group">
            <label class="form-label sr-only" for="signup_mobile_number">{{ _("Mobile Number") }} </label>
            <input type="text" id="signup_mobile_number" class="form-control" placeholder="{{ _('1234567890') }}" required>
        </div>

        <!-- Customer Group field -->
        <div class="form-group">
            <label class="form-label sr-only" for="signup-customer-group"> {{ _("Customer Group") }} </label>
            <select id="signup-customer-group" class="form-control" required>
                <option value="" disabled selected>{{ _("Select a Customer Group") }}</option>
            </select>
        </div>

        <!-- GST Category field -->
        <div class="form-group" id="signup-gst-category-container" style="display: none;">
            <label class="form-label sr-only" for="signup-gst-category">{{ _("GST Category") }}</label>
            <select id="signup-gst-category" class="form-control">
                <option value="" disabled selected>{{ _("Select a GST Category") }}</option>
                <option value="Registered Regular">{{ _("Registered Regular") }}</option>
                <option value="Registered Composition">{{ _("Registered Composition") }}</option>
                <option value="Unregistered">{{ _("Unregistered") }}</option>
                <option value="SEZ">{{ _("SEZ") }}</option>
                <option value="Overseas">{{ _("Overseas") }}</option>
                <option value="Deemed Export">{{ _("Deemed Export") }}</option>
                <option value="UIN Holders">{{ _("UIN Holders") }}</option>
                <option value="Tax Deductor">{{ _("Tax Deductor") }}</option>
            </select>
        </div>

        <!-- GSTIN field -->
        <div class="form-group" id="signup-gstin-container" style="display: none;">
            <label class="form-label sr-only" for="signup-gstin">{{ _("GSTIN") }}</label>
            <input type="text" id="signup-gstin" class="form-control" placeholder="{{ _('GSTIN') }}">
        </div>

        <!-- PAN field -->
        <div class="form-group" id="signup-pan-container" style="display: none;">
            <label class="form-label sr-only" for="signup-pan">{{ _("PAN") }}</label>
            <input type="text" id="signup-pan" class="form-control" placeholder="{{ _('PAN') }}">
        </div>


        <div class="form-group">
            <div class="checkbox">
                <label>
                    <span class="input-area">
                        <input type="checkbox" autocomplete="off" class="input-with-feedback"
                        data-fieldtype="Check" data-fieldname="terms" id="signup-terms" required>
                    </span>
                    <span class="label-area">
                        I have read and agree to your Terms & Conditions
                    </span>
                </label>
            </div>
        </div>
    </div>
    <div class="page-card-actions">
        <button class="btn btn-sm btn-primary btn-block btn-signup" type="submit">{{ _("Sign up") }}</button>

        <p class="text-center sign-up-message">
            <a href="#login" class="blue">{{ _("Have an account? Login") }}</a>
        </p>
    </div>
</form>

<script>
    frappe.ready(function () {
        // Fetch customer groups
        frappe.call({
            method: "advika_enterprises.overrides.user.get_customer_groups",
            callback: function(r) {
                let options = r.message.map(group => `<option value="${group.name}">${group.name}</option>`).join("");
                $('#signup-customer-group').append(options);
                // Set default value for the customer group dropdown
                $('#signup-customer-group').val('Individual');
            }
        });
        $('#signup-customer-group').change(function() {
            if ($(this).val() === "Retailer" || $(this).val() === "Wholesaler") {
                $('#signup-gst-category-container').show();
                $('#signup-gstin-container').show();
                $('#signup-pan-container').show();
            } else {
                $('#signup-gst-category-container').hide();
                $('#signup-gstin-container').hide();
                $('#signup-pan-container').hide();
            }
        });
        $(".signup-form").on("submit", (e) => {
            signup(e);
        });
    });

    const signup = (e) => {
        e.preventDefault();
        const email = ($("#signup_email").val() || "").trim();
        const full_name = frappe.utils.xss_sanitise(($("#signup_fullname").val() || "").trim());
        const mobile_number = ($("#signup_mobile_number").val() || "").trim();
        const customer_group = $('#signup-customer-group').val();
        const gst_category = $('#signup-gst-category').val();
        const gstin = $('#signup-gstin').val();
        const pan = $('#signup-pan').val();

        if (!email || !validate_email(email) || !full_name || !mobile_number || !customer_group) {
            frappe.msgprint({
                title: __('Signup failed'),
                indicator: 'red',
                message: __('Valid email, name, mobile number, and customer group required.')
            });
            return false;
        }

        frappe.call({
            method: "advika_enterprises.overrides.user.sign_up",
            args: {
                "email": email,
                "full_name": full_name,
                "verify_terms": $("#signup-terms").prop("checked") ? 1 : 0,
                "mobile_number": mobile_number,
                "customer_group": customer_group,
                "gst_category": gst_category,
                "gstin": gstin,
                "pan": pan
            },
            callback: function(response) {
                if (response.exc) {
                    frappe.msgprint({
                        title: __('Signup failed'),
                        indicator: 'red',
                        message: __('An error occurred during signup. Please try again.')
                    });
                } else {
                    frappe.msgprint({
                        title: __('Success'),
                        indicator: 'green',
                        message: __('Your account has been successfully created. Please check your email for the verification link.')
                    });
                    $('#signup_fullname').val('');
                    $('#signup_email').val('');
                    $('#signup_mobile_number').val('');
                    $('#signup-terms').prop('checked', false);
                    $('#signup-customer-group').val('');
                    $('#signup-gst-category').val('');
                    $('#signup-gstin').val('');
                    $('#signup-pan').val('');
                }
            },
            error: function() {
                frappe.msgprint({
                    title: __('Signup failed'),
                    indicator: 'red',
                    message: __('An error occurred during signup. Please try again.')
                });
            }
        })
        return false;
    }
</script>
